bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# IDE & Editor files
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db